*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: content-box;
}

.header{
    background-color: yellow;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;

}
/* header and navigation styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: orange;
}

header nav {
    display: flex;
    justify-content: space-between;
   margin: 40px 140px;
}
nav li{
    list-style: none;
}
nav ul {
    display: flex;
    align-items: center;
   
}
nav ul li{
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav button{
    background-color: orange;
    color: white;
    width: 100px;
    height: 33px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
 
}

/* banner styles */
.banner{
    display: flex;
    margin: 0px 200px;
    align-items: center;
}

.banner-title{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 10px;
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 10px;
}
.banner-description{
    color: #757575;
}
.download{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.contact{
    height: 30px;
    border: 1px solid orange;
    color: rgb(255, 187, 0);
    background-color: white;
    border-radius: 3px;
}

/* abut section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    

}
.about{
        text-align: center;
        margin-top: 140px;
        background-color: yellow;
        border-radius: 10px;
        padding: 130px 150px;
        

}
.section-title{
    
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
}
.section-description {
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-evenly;
}
.info-title{
    font-size: 20px;
}
.infoo-dscription{
    font-weight: 700;
    font-size:20px ;
}

.section-title{
    margin-top: 130px;

}
.whatl-i-do .section-title{
    text-align: center;
}
.skills-container{
    display: flex;
    /* width: 700px; */
    justify-content: space-evenly;

}
.skill{
    width: 150px;
}
.skill-title{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.skill{
    padding: 20px;
}

.section-title{
    margin-top: 20px;
    text-align: center;
    
}

/* resume matters */

.edu-and-exp > .edu > h1{
    margin-bottom: 20px;
}
.edu-and-exp > .exp > h1{
    margin-bottom: 20px;
}


.edu-and-exp{
    display: flex;
}



